 /*Comments in CSS*/
        
          article{
             
              color: brown; 
              background-color:grey;
          }
          header{
              background-color:antiquewhite;

          }
           /*Use ID for one image only*/
          img{
            width: 300px;
            height: 300px;
            display: center;
    
          }

          li{
            display: inline; 

          }

          .nollie{
              background-color:peru;
              color: cadetblue;
          }

          #rosita {
              color: blueviolet
          }

         